body {
    background-color:thistle;
    line-height: 80px;   
    display:flex;
    text-align:center;
    top:10%;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    }
#display{
    background:linear-gradient(plum,white);
    width:370px;
    height:30px;
    text-align:right;
    align-items:center;
 }
 table{
     position:absolute;
     top:100%
 }
.button{
   width: 90px;
   height: 80px;
   font-size: 50px;
   margin: 8;
   background:linear-gradient(plum, purple);
   

}
h1{
    justify-content:center;
}
